body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.left-container, .right-container {
    /* border: 2px solid; */
    flex-grow: 1;
    background-color: black;
}
.main-container {
    /* border:2px solid greenyellow; */
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247,248,252);
}
.audio-card {
    /* border: 2px solid salmon; */
    padding: 25px 20px 40px 20px;
    background-color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
#card-header {
    /* border: 2px solid skyblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#card-cover {
    /* border: 2px solid skyblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
#card-body {
    /* border: 2px solid skyblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1.5em;
    margin-top: 2.5em;
}
.track {
    display: flex;
    justify-content: space-between;
    font-size: 23px;
}
#title-holder {
    /* border: 2px solid brown; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#album-cover {
    /* border: 2px solid brown; */
    flex-grow: 2;
}
#controls {
    /* border: 2px solid brown; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* row-gap: 1.7em; */
}
#play-controlls {
    /* border: 2px solid greenyellow; */
    display: flex;
    flex-direction: row;
    column-gap: 4em;
    justify-content: space-between;
    margin-top: 1.6em;
}
#album-cover {
    display: flex;
    justify-content: center;
}
#album-cover img {
    width: 300px;
}
.margin-zero {
    margin: 0;
}
.grey {
   color: #c9c2c2; 
}
.dark-grey {
    color: #949494;
}
#time-scale {
    display: flex;
    column-gap: 22em;
}
.font-style {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
